<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mentoring Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../../css/main.css" />

</head>
<body>

<div class="container">
    <div class="starter-template">
        <h1>mentoring-project</h1>
        This is educational project.
        <br>
        The goal is to create a simple Java RESTful Web application and build it using Gradle.
        <br>
        Provided deployment capabilities of web applications with spring-boot-starter-tomcat.
    </div>
</div>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>